.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.loader-container.full-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}

.loader-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-lottie {
    width: 100%;
    height: 100%;
}

.loader-container.small {
    padding: 10px;
}

.loader-container.small .loader-wrapper {
    width: 60px;
    height: 60px;
}