.pokedex-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--pokedex-red);
}

.pokedex-content {
    flex: 1;
    background-color: white;
    margin: 4px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.pokedex-inner-container {
    padding: 24px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

}


.pokemon-grid-v2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on very small mobile */
    gap: 12px;
    width: 100%;
}

@media (min-width: 380px) {
    .pokemon-grid-v2 {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns on standard mobile */
    }
}

/* Desktop optimization */
@media (min-width: 768px) {
    .pokemon-grid-v2 {
        /* Responsive build up to 6 columns */
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 20px;
        padding: 0;
    }

    .pokedex-inner-container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
}

/* Ensure max 6 columns on large screens to keep cards large */
@media (min-width: 1200px) {
    .pokemon-grid-v2 {
        grid-template-columns: repeat(6, 1fr);
    }
}

.status-msg {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 20px;
}

.status-msg.error {
    color: var(--pokedex-red);
}